:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-small: 14px;
  --line-height-small: 20px;
  --default-black: #222222;
  --default-border-color: #22222230;
  --default-gray: #6a6a6a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin: 0 24px;
  height: 56px;
}

pre {
  font-family: unset;
}

.control-dots .dot {
  width: 6px !important;
  height: 6px !important;
  margin: 0 2px !important;
}

.slider-wrapper {
  aspect-ratio: 1/0.95;
}

.slider {
  height: 100%;
}

.control-arrows {
  position: absolute;
  top: 50%;
  z-index: 10;
}

.carousel .control-arrow {
  background-color: transparent;
  color: #fff;
}
